/**
*
* Link
*
**/

a {
  color: $colorPinkA200;
  text-decoration: none;
}

a:hover {
  color: $colorPinkA400;
  text-decoration: none;
}

.cta--primary {
  @include style-cta($colorBlue, $icon-chevron-right);
}

.cta--secondary {
  @include style-cta($colorBlue);
}
